
body{
    background-color: #A2DED0;
}

/*Font*/
@font-face{
    font-family: 'Doodle';
    src: url('../fonts/Carolina_Valtuille.ttf');
    
}


/*Navigation bar*/

.navbar {
    min-height: 3vh !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: black;  /*Sets the text hover color on navbar*/
}


.navbar-default {
    background-color: #4ECDC4;
    border: none;
    transition: top 0.2s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}



.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand  {
   color: black; /*Change active text color here*/
    }

.navbar-nav > li > a, .navbar-default .navbar-brand{
    padding-top:3vh !important; 
    padding-bottom: 3vh !important;
    font-size: 5vh;
    font-family: Doodle;
    opacity: 1;
    
}

/*About */
.about-content{ 
  padding-top: 10vh !important;
  margin-top: :120px;
  height:100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../img/header.jpg);
}

/*Progress bar*/

.progress-bar {
    width: calc(100% - 6px);
    height: 5px;
    background: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 5px;
    background: #659cef;
    border-radius: 3px;
    /*transition: width 250ms ease-in-out;*/
    transition: width 5s ease-in-out;
}