
body{
    background-color: #ecf0f1;
}


/*Navigation bar*/

.navbar {
    min-height: 3vh !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: black;  /*Sets the text hover color on navbar*/
}


.navbar-default {
    background-color: rgba(155, 89, 182 , .6);
    border: none;
    transition: top 0.2s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}



.navbar-default .navbar-nav > li > a{
   color: white; /*Change active text color here*/
    }

.navbar-nav > li > a{
    padding-top:3vh !important; 
    padding-bottom: 3vh !important;
    font-size: 3vh;
    font-family:"Anton";
    opacity: 1;
    
}

.navbar-default .navbar-brand{
    padding-top:3vh !important; 
    padding-bottom: 3vh !important;
    font-size: 4.5vh;
    font-family:'Fredoka One', cursive;
    color:black;
    opacity: 1;
}

/*About */
.about-content{ 
  padding-top: 10vh !important;
  margin-top: :120px;
  height:90vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url('../img/header.jpg');
}

#about-content-content{ 
  padding-top: 3vh;
  height:80vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Great Vibes', cursive;
  font-size: 3vh;
  color: white;
}

.about-button{
    
    font-family: 'Signika', sans-serif;
}

#aboutMe{
    display: block;
    background-image: url(../img/aboutMe.png);
    background-size: contain;
    height: 30vh;
    width: 30vh;
    padding-top: 11vh;
    padding-left: 5vh;
    cursor: pointer; cursor: hand;
    font-size: 5vh;
}

#education{
    display: block;
    background-image: url(../img/Education.png);
    background-size: contain;
    height: 50vh;
    width: 50vh;
    margin-left: 20vh;
    padding-top: 19vh;
    padding-left: 7vh;
    font-size: 8vh;
    cursor: pointer; cursor: hand;
}

/*Page Content*/
.div-header{
    
    font-family: "Anton";
    font-size: 5vh;
    padding-bottom: 3vh;
}


.div-content{
    font-size: 2vh;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-family: 'Signika', sans-serif;
}

/*Skill*/

.skill-content{
    padding-bottom: 1vh;
}

/*Progress bar*/

.progress-bar {
    width: calc(100%);
    height: 2vh;
    background: #e0e0e0;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    width: 1%;
    height: 2vh;
    background: #7f8c8d;
    border-radius: 1px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
    transition: width 5s ease-in-out;
    -webkit-transition: width 5s ease-in-out;
}

